

/* ------------------------- code couleurs & Font ----------------------------------
------------------------------------------------------------------------------------ */

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$lightgrey: rgb(247, 247, 247);
$darkgrey: rgb(53, 53, 53);

$Shrikhand: "Shrikhand", serif;
$Roboto: "Roboto", serif;

h2{
  font-family: $Roboto;
}
p{
  font-family: $Roboto;
  color: grey;
}

b{
  font-family: $Roboto;
}

.new__card__img{
  font-family: $Roboto;
}
/*           ------------------------- LOADER ----------------------------------
------------------------------------------------------------------------------------ */

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spinloader {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes spinloaderlogo {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-1080deg);
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(50);
    opacity: 0;
  }
}
      .loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6F6F6;
  z-index: 2;
  animation: loader 0.01s 1400ms both;
}
.loader--circle1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border-top: 4px solid #9356DC;
  opacity: 0;
  animation: spinloader 1500ms ease-in-out;
}
.loader--circle2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border-bottom: 4px solid #FF79DA;
  opacity: 0;
  animation: spinloader 1500ms ease-in-out;
}
.loader--circle3 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left: 4px solid #99E2D0;
  opacity: 0;
  animation: spinloader 1500ms ease-in-out;
}
.loader--logo {
  position: absolute;
  text-align: center;
  font-family: "Shrikhand", cursive;
  width: 180px;
  font-size: 28px;
  color: white;
  background: linear-gradient(#b389e7, #ffb6eb);
  border-radius: 12px;
  animation: spinloaderlogo 1500ms ease-in-out 1;
}

/* -------------------------         MAIN     ----------------------------------
------------------------------------------------------------------------------------ */


 .main__homepage{
  animation: chargement 3s  ease-out;
 }
 @keyframes chargement {
 0% {
    opacity: 0;
    z-index: -1;
 }     
 }

 /* -------------------------         Page ACCUEIL     ----------------------------------
------------------------------------------------------------------------------------ */
header{
  background-color: white;}
  .logo__header{
    text-align: center;
    font-family: $Shrikhand;
  }
.header_pages{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.fa-arrow-left{
  color: black;
  padding-top: 30px;
  font-size: 40px;
}
.logo__header-pages{
  font-family: $Shrikhand;
  padding-left: 20%;
  position: absolute;
  display: initial;
}
  .location__city{
    font-family: $Roboto;
  }
  .title__section1{
  font-family: $Roboto;
  width: 270px;
    margin-left: 14%;
    margin-top: 0px;
    padding-top: 8px;
}

.fa-map-marker-alt{
  padding: 10px 0px 0px 33%;
}
.location__city{
  padding: 10px;
  color: rgb(156, 153, 153);
}

.city{
  background-color: rgb(232, 232, 232);
  display: flex;
justify-content: start;
  height: 40px;
}

.button__section1{
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  height: 45px;
  width: 180px;
  border-width: inherit;
  background: rgb(236,179,241);
background: linear-gradient(168deg, rgba(236,179,241,1) 0%, rgba(127,9,136,1) 100%);
  color: white;
  transition: transform 450ms;
  
  &:hover{
    transform: scale(1.2);
    opacity: 0.8;
  }
  }

  
.undertitle__section1{
  font-family: $Roboto;
  color: grey;
}

.number{
  padding-left: 8px;
  padding-top: 3px;
}

.section1{
  background-color: $lightgrey;
  text-align: center;
}
.cards{
  background-color: $lightgrey;
}



.section1 {
  background-color: $lightgrey;
  text-align: center;
}
.cards{
  font-family: $Roboto;
  margin-bottom: 0px;
  padding-bottom: 30px;
}


.cards__card{
  margin-bottom: 30px;
  margin-left: 8%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  width: 329px;
}
.cards__card-bottom{
  margin-bottom: 0px;
  margin-left: 35px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  width: 329px;
}
.img__card{
  border-radius: 30px 30px 0px 0px;
  width: 329px;
  height: 220px;
}
.new__card__img{
  float: right;
  position: relative;
  margin-top: -200px;
  margin-right: 8px;
  height: 22px;
  width: 70px;
  background-color: rgb(156, 226, 208);
  color: rgb(13, 112, 33);
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
  border-radius: 4px;
}
.info__cards__card{
  display: flex;
    flex-direction: row;
    padding-left: 15px;
    width: 300px;
}

.heart__homepage{
  padding: 50px 0px 0px 0px;
  margin-left: 45%;
}
@keyframes heart-coloration {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.icon 
{
  width: 20px;
  font-size: 24px;
  position: relative;
  left: 85%;
  cursor: pointer;
}

.fas.fa-heart 
{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fas.fa-heart:hover 
{
  animation: heart-coloration 500ms ease-in-out forwards;
}
.icon{
  position: relative;
}



.button__section2{
  width: 320px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: rgb(229, 224, 224);
}

.nav--title{
  margin-left: 35px;
}

.nav--bar{
  display: flex;
  width: 320px;
  height: 70px;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-left: 8%;
  background-color: $lightgrey;
  transition: transform 450ms;
  &:hover {
    transform: scale(1.002);
    background-color: rgb(245, 237, 254);
    & fa-mobile-alt:hover{color: darkviolet;}
  }
  }
.nav--bar:hover .fa-mobile-alt{
  color: darkviolet;
}
.nav--bar:hover .fa-list-ul{
  color: darkviolet;
}
.nav--bar:hover .fa-store{
  color: darkviolet;
}
 

.nav--barnumber{
  border-radius: 50%;
  color: white;
  background-color: rgb(146, 87, 217);
  width: 25px;
  height: 25px;
  padding-top: 0px;
  display: flex;
  margin-left: -12px;
  margin-top: 22px;
}
.fa-mobile-alt{
  padding: 26px 28px 0px 6px;
  }

.fa-list-ul{
  padding: 26px 28px 0px 6px;
}
.fa-store{
  padding: 26px 28px 0px 6px;
}

.nav--bartext{
  padding-top: 26px;
  margin: 0px;
  color: black;
}

.quartier{
  width: 130px;
  height: 19px;
}

.title__cards{
  padding: 20px 20px 10px 35px;
}

/* --------------------                FOOTER                --------------------- */ 
footer{
  background-color: $darkgrey;
}
.font__footer--color--fontlogo{
  font-family: $Shrikhand;
  color: white;
  padding-left: 10%;
  margin-bottom: 10px;
}

.font__footer{
  color: white;
  padding-left: 10%;
  margin: 2px 0px 2px 0px;
}

/* -------------------- PAGES RESTAURANT --------------------- */

.main__pages{
  background-color: $lightgrey;
  border-radius: 30px 30px 0px 0px;
  position: absolute;
    width: 398px;
    margin-top: -15px;
}

.restaurant_title-page{
  display: flex;
}

.title_page{
  font-family: $Shrikhand;
  font-size: 28px;
  padding-left: 20px;
  margin-top: 16px;
}

.heart__pages{
  padding-top: 24px;
    padding-left: 8%;
    font-size: 36px;
}

@keyframes heart-coloration {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.fas.fa-heart 
{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fas.fa-heart:hover 
{
  animation: heart-coloration 500ms ease-in-out forwards;
}

.img__card-pages{
  
  height: 300px;
  margin-top: 20px;
  background-size: cover;
}
.menu__page{
  display: flex;
  flex-direction: column;
}
.toptitledish{
  border-bottom-color: lightgreen;
    border-bottom-style: solid;
    border-bottom-width: medium;
    width: 40px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-left: 6%;
}

    
 


.bloc{
  width: 90%;
    height: 65px;
    background-color: white;
    border-radius: 20px;
    margin-left: 4%;

    -webkit-animation: fadein 1.8s

    
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  } 
}




/* -------------------- ANIMATION MENU  --------------------- */

.dish{
  margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 14px;
    width: 290px;
    padding-bottom: 8px;
    font-family: $Roboto;
    color: black;
}

.side__dish{
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 14px;
  font-family: $Roboto;
  font-size: 13px;
  color: $darkgrey;
}
.prix__pages{
  font-family: "roboto", sans-serif;
  font-size: 14px;
  float: right;
  font-weight: bold;
  padding-right: 2%;
}

.button__pages{
  margin-left: 28%;
    margin-top: 30px;
  border-radius: 50px;
  border-bottom-width: 0px;
  height: 45px;
  width: 180px;
  border-width: inherit;
  background: rgb(236,179,241);
background: linear-gradient(168deg, rgba(236,179,241,1) 0%, rgba(127,9,136,1) 100%);
  color: white;
  transition: transform 450ms;
  margin-bottom: 8px;
  
  &:hover{
    transform: scale(1.2);
    opacity: 0.6;
  }
  }


.pages__footer{
  background-color: $darkgrey;

  margin-top: 1045px;
}
.pages__footer-4starters {
  background-color: rgb(53, 53, 53);
  margin-top: 1128px;
}



@keyframes keyfadein {
  0% {
    transform: translate3d(0, 25px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fadein 
{
  animation: keyfadein 2s ease-in-out;
}

.dishes {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  margin: 30px 0px 0px 14px;
  animation: keyfadein 1.5s ease-in-out;
}

.dishes--title {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  width: 40px;
  margin: 0px 0px 0px 6px;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
}
.dishes--art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  width: 93%;
  height: 72px;
  margin-top: 12px;
  border: 1px hidden;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 5px #b7b7b7;
  transition: all 250ms;
  margin-left: 4%;

}
.dishes--art:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 5px #848484;
}
.dishes--art:hover .fas.fa-check-circle {
  transform: rotate(360deg);
}
.dishes--art:hover .prix__pages {
  transition-duration: 502ms;
  padding-right: 50px;
}
.dishes--art:hover .dishes--check {
  right: -50px;
  transform: translate(-50px);
  opacity: 1;
}
.dishes--artitle {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  height: 20px;
   
  margin: 10px 0px 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes--div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 36px;
}
.side__dish {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  margin: 0px 0px 10px 10px;
}
.prix__pages {
  font-family: "roboto", sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}
.dishes--check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 10px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  padding: 20px;
  top: 0px;
  opacity: 0;
  transition: transform 332ms ease-in-out;
  z-index: -2;
}

.fas.fa-check-circle {
  text-align: center;
  font-size: 2em;
  color: #fff;
  transition: transform 502ms ease-in-out;

}



 
@media only screen and (min-width: 550px) and (max-width: 992px)    
{

/* --------------------                   PAGE ACCUEIL      TABLETTE          --------------------- */
                          /* ----------------------------------------- */
.title__section1{
  margin-left: 30%;
  width: 40%;
}

.fas.fa-map-marker-alt{
  margin-left: 12%;
  padding-left: 30%;
}

.nav--title{
  margin-left: 46%;
  font-size: inherit;
}
.nav--bars{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav--bar{
width: 27%;
margin-left: 2%;
}
.nav--bartext{
  padding-left: 8%;
  width: 55%;
}
.title__cards{
  margin-left: 44%;
  font-size: inherit;
  padding-left: 20px;
}

.desktop_flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.cards__card{
  width: 40%;
  height: 260px;
  margin-left: 2%;
}
.cards__card-bottom{
  width: 40%;
  height: 260px;
  margin-left: 2%;
}
.img__card{
  height: 165px;
  width: 100%;
}
.new__card__img{
  margin-top: -145px;
}

.heart__homepage{
  margin-left: 0;
}
.info__cards__card{
  width: 80%;
}
.text__info-card{
  width: 100%;
}
.b{
  width: 300px;
}


/* --------------------                   PAGE MENU    tablette            --------------------- */
 /* ----------------------------------------- */


.main__pages{
  width: 99%;
}
.header_flex{
  display: flex;
  width: 30%;
  margin-left: 26%;
}

.fa-solid.fa-arrow-left{
  margin-left: 33%;
}
.logo__header-pages{
  padding-left: 14%;
  
}

.title_page{
  padding-left: 39%;
  font-size: revert;
}

.img__card-pages{
  height: 350px;
  width: 60%;
  border-radius: 15px 15px 0px 0px;
  margin-left: 20%;
}

.dishes--art{
  width: 100%;
  margin-left: 0;
}
.desktop_flex-menu{
  display: flex;
  justify-content: space-around;
  
}
.entrées{
  width: 30%;
  padding-left: 2%;
}
.plats{
  width: 30%;

}
.desserts{
  width: 30%;
  padding-right: 2%;
}

.button__pages{
  width: 33%;
  margin-left: 34%;
}
.pages__footer{
  margin-top: 447px;
}

.pages__footer-4starters{
  margin-top: 523px;
}

 }

@media only screen and (min-width: 992px) and (max-width: 1600px)    
{

/* --------------------                   PAGE ACCUEIL      DESKTOP          --------------------- */
                          /* ----------------------------------------- */
.title__section1{
  margin-left: 30%;
  width: 40%;
}

.fas.fa-map-marker-alt{
  margin-left: 12%;
}

.nav--title{
  margin-left: 46%;
  font-size: inherit;
}
.nav--bars{
  display: flex;
  flex-direction: row;
}
.nav--bar{
width: 55%;
margin-left: 2%;
}
.nav--bartext{
  padding-left: 8%;
}
.title__cards{
  margin-left: 44%;
  font-size: inherit;
}
.desktop_flex
{display: flex;}
.cards{
  padding-bottom: 300px;
}
.cards__card{
  width: 22%;
  height: 260px;
  margin-left: 2%;
}
.cards__card-bottom{
  width: 22%;
  height: 260px;
  margin-left: 2%;
}
.img__card{
  height: 165px;
  width: 100%;
}
.new__card__img{
  margin-top: -145px;
}

.heart__homepage{
  margin-left: 0;
}
.info__cards__card{
  width: 80%;
}
.text__info-card{
  width: 100%;
}
.b{
  width: 300px;
}


/* --------------------                   PAGE MENU    DESKTOP           --------------------- */
 /* ----------------------------------------- */


.main__pages{
  width: 99%;
}
.header_flex{
  display: flex;
  width: 30%;
  margin-left: 26%;
}

.fa-solid.fa-arrow-left{
  margin-left: 33%;
}
.logo__header-pages{
  padding-left: 14%;
  
}

.title_page{
  padding-left: 39%;
  font-size: revert;
}

.img__card-pages{
  height: 550px;
  width: 60%;
  border-radius: 15px 15px 0px 0px;
  margin-left: 20%;
}

.dishes--art{
  width: 100%;
  margin-left: 0;
}
.desktop_flex-menu{
  display: flex;
  justify-content: space-around; 
}
.entrées{
  width: 30%;
  
}
.plats{
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}
.desserts{
  width: 30%;
  
}

.button__pages{
  margin-left: 44%;
}
.pages__footer{
  margin-top: 447px;
}

.pages__footer-4starters{
  margin-top: 523px;
}

 }


